* {
    font-family: Arial, Helvetica, sans-serif;
}

/*Index*/

.container {
    width: 400px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.chef-logo {
    width: 250px;
    height: auto;
}

/*Recipe links*/

.container-link {
    padding: 8px 100px;
    color: rgb(55, 65, 81);
    width: 700px;
    height: auto;
}

.container-link h1, h2 {
    color: rgb(17, 24, 39);
}

.container-link img {
    width: 500px;
    height: auto;
} 

.recipe-nav {
    background-color: rgb(243, 244, 246);
    padding: 10px;
}